<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <div class="justify-content-center text-center">
            <p class="text-center">Your password has been successfully updated..😊😊</p>
            <button id="backToLogin" class="btn btn-primary shadow rounded-pill" style="color: white;"><a href="http://<%= host %>:5500/Frontend/html/login.html" class="text-white text-decoration-none">Back to Login</a></button>
    </div>
    </div>
</body>
</html>